	<script>
	var data = [
		{ time:"3.0", echantillon:"0" },
		{ time:"3.8", echantillon:"1" },
		{ time:"3.4", echantillon:"2" },
		{ time:"4.1", echantillon:"3" },
		{ time:"4.3", echantillon:"4" },
		{ time:"9.9", echantillon:"5" },
		{ time:"7.4", echantillon:"6" },
		{ time:"9.0", echantillon:"7" },
		{ time:"7.3", echantillon:"8" },
		{ time:"4.8", echantillon:"9" }
	];
	
	window.onload = function(){
	var chart1 =  new dhtmlXChart({
		view:"line",
		container:"chart1",
	    value:"#time#",
		label:"#time#",
		tooltip:{
			template:"#time#"
		},
		item:{
			radius:0,
			borderColor: "#ffffff",
			color: "#000000"
		},
		line:{
			color:"#000FFF",
			width:3
		},
		yAxis:{
			title:"Ping(ms)"
		},
		xAxis:{
			title:"Nb_echantillon",
			template:"#echantillon#"
		}
	})
	chart1.parse(data,"json");
	}
	</script>
	<div id="chart1" style="width:450px;height:300px;border:1px solid #A4BED4;"></div>