<% if object.errors.any? %>
	<h2>
		<%= pluralize(object.errors.count, "erreur") %> 
		ont empêché d'enregistrer votre <%= object.class.to_s.underscore.humanize.downcase %> 
	</h2>
	<p>Merci de corriger ces champs :</p>
	<ul>
		<% object.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>

<% end %>