<table id="divadmin">
	<tr>
		<td><%= link_to "Gestion des salles" , salles_path %></td>
		<td><%= link_to "Gestion des machines" , machines_path %></td>
	</tr>
	<tr>
		<td><%= link_to "Gestion des utilisateurs" , administrateurs_path %></td>
		<td><%= link_to "Gestion dynamique des utilisateurs" , "/js/new" %></td>
	</tr>
</table>