<div id="forgot_password_div">
	<table>
		<%= form_tag new_password_request_path, :method => :post do %>
			<tr>
				<td>
					<%= label_tag :email, "Login :" %>
				</td>
				<td>
					<%= text_field_tag :email , params[:email] %>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="right">
					<%= submit_tag "Send password" %>
				</td>
			</tr>
		<% end %>
	</table>
</div>

