/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

	#psg{
	  position:absolute;
     left: 50%; 
     top: 50%;
	 z-index: 100;
     margin-top: -110px; 
     margin-left: -195px;
	 }
	#om{
	  position:absolute;
     left: 50%; 
     top: 50%;
	 z-index: 100;
     margin-top: -110px; 
     margin-left: -195px;
 } 
