
body {
	margin:0;
	padding:0;
	font-size:11px;
	line-height:16px;
	font-family: Arial, Tahoma;
}
a {
	color:red;
	text-decoration:none;
}
a:hover {
	color:red;
	background-color:inherit;
	text-decoration:underline;
}
a:visited {
	color:red;
	text-decoration:none;
}
.gray {
	color:gray;
}
/* ****************************************************

						HEADER 

**************************************************** */
#header {
	background: url(header_bckg.gif) repeat-x ;
	height:121px;
}
#logo {
	width:780px;
	margin:0 auto;
	padding:50px 0 0 20px;
}
#logo a{
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
	height:12px;
	font-size:26px;
}
#logo a:hover {
	background-color:inherit;
}
#menu {
	color:#fff;
	text-align:center;
	margin-top:22px;
}
#menu ul{
	width:780px;
	margin:0 auto;
	list-style:none;
	padding:0;
	text-align:left;
}
#menu ul li{
	display:inline}
#menu ul a {
	display:block;
	float:left;
	font-weight:bold;
	font-size:13px;
	text-decoration:none;
	color:#fff;
	background:url(menu_enactive.png) no-repeat bottom center;
	padding:8px 10px;
	width:118px;
	text-align:center;
	text-transform:uppercase;
	margin-top: -7px;
}
#menu ul a:hover {
	background:url(menu_over.gif) no-repeat bottom center;
	color:#232323;
}
#menu ul a.active {
	background:url(menu_active.gif) no-repeat bottom center;
	color:#232323;
}
#menu ul a.active:hover {
	background:url(menu_active.gif) no-repeat bottom center;
	color:#232323;
}
/* ****************************************************

						Foot 
						
**************************************************** */
#footer {
	background:url(footer_bckg.gif) repeat-x #3f3e3e 0 2px;
	height:94px;
	margin-top:20px;
	clear:both;
}

/* ****************************************************

			administrateur/forgot_password.html
						
**************************************************** */
#forgot_password_div {
	width: 200px;
	margin:auto;
	padding: 20px; 
	border:1px solid;
	margin-top:100px;
	margin-bottom:100px;
}

/* ****************************************************

			administrateur/change_password_request.html
						
**************************************************** */
#change_password_request_div {
	margin:auto;
	width: 320px; 
	padding: 20px; 
	border: 1px solid;
	margin-top:100px;
	margin-bottom:100px;
}

/* ****************************************************

						Body 
						
**************************************************** */
#main {
	width:100%;
	margin:20px 0 20px 0;
	float:left;
}
#content {
	margin:0 auto;
	padding:0;
	width:780px;
}
.oublie_mdp {
	font-size:10px;	
}
.right {
	text-align:right;
}
.center {
	text-align:center;
}
.margin_auto{
	margin:auto;
}
#connexion {
	display:none;
}
#div_connexion {
	width: 300px; 
	margin: auto; 
	border: 1px solid; 
	padding: 20px;
}
.error{
	color: red;
	text-align: center;
}
.succes{
	color: green;
	text-align: center;
}
.noti{
	color: orange;
	text-align: center;
}
